extends ../_layouts/article

block content
    :markdown-it()
        # 5 Email T	emplates You Need To Send To Your Existing Customers

        Depending on your industry, it costs somewhere between 5 to 25 times more to acquire a new customer than it does to sell to an existing one according to [Harvard Business Review.](https://hbr.org/2014/10/the-value-of-keeping-the-right-customers)

        Since it costs less to sell to an existing customer, **this translates to 5 to 25 times greater profit margins!**

        With those numbers, it a no brainer you should be selling to your existing customers. But are you?

        **If you aren't putting your business in front of your current customers, you are leaving money on the table.**  Don't worry though, these 5 email templates will help you change that!

        It turns out email marketing is one of the most effective and easiest marketing channels.  Check out this chart from MarketingCharts.com:

        ![](/assets/images/articles/marketing-charts-email-marketing-effectiveness-vs-difficulty.png)



        Whether you are already doing some email marketing or aren't sending email at all, you need to send these 5 emails to your existing customers if you want maximize your business's profits.

        ## Won't I be spamming my customers?

        I get asked this question all of the time and it's a common misconception that all emails are spam.  That's just not the case.

        Sure, if your customer isn't interested, you are spamming them.  But here's the deal.  If they have already purchased from you, you know they are interested in your business.

        Additional offerings, education and discounts are extremely valuable to existing customers!  Therefore you aren't spamming them because they anticipate your emails rather than resent them.

        The bottom line is you need to send emails that provide value to your customer.  If you can do that, the emails you send will cause customers to fall in love with your business and make additional purchases.  Everyone wins!

        ## Email 1: Welcome Email

        Congratulations!  A customer has purchased from you, but at this point, they barely know you.  Welcome emails are a great way for you to tell customers more about your business.

        Your welcome email should be sent within a day or two of the customer purchasing from your business.

        It doesn't have to be anything super long either.  Simply give them a friendly welcome and let them know who your business is, what your business stands for, and how your business will help them.  **Make sure to keep it short and friendly!**

        As well as introducing yourself, this is also a good place to set expectations about what emails they will receive in the future as well as how frequently they receive them.  You don't want to surprise customers by sending more email than they expect.  That's a one way trip to the spam folder!

        ### Template

        Here's a template you can use for your business:

    .box
        :markdown-it(html=true)
            Subject: Thanks for purchasing!

            Hey [name],

            I noticed you made a purchase at our east side store and wanted to stop in to say welcome to the family!

            My name is [your name] and I am [who you are in relation to your business].  If you have any questions, feel free to reach out at any time!  I'm more than happy to help :)

            [How your business is different from others. Better customers service, better products, smaller community, etc.]

            To keep you updated and informed, I am going to send you an email once a week with ways you can [how you help them solve their problem(s)].  If you aren't interested, you can unsubscribe with the link at the bottom of this email.

            I'm excited you are here and I'll talk to you soon!

            Cheers,<br>
            [your name]<br>
            [your business]

    :markdown-it()
        ## Email 2: Reminders

        A lot of businesses have some kind of recurring service or purchase.  If you sell something you know your customer is going to need at a specific time in the future, send them a friendly email reminding them they are going to need your product or service soon.

        These emails will convert to purchases like crazy! You are not only helping your customer by reminding them to do something, but also providing them a solution to their problem.

        ### Examples

        - Dentist offices could send a reminder to schedule a checkup every 6 months.
        - Power washing companies can send a reminder email for a fresh clean.
        - Car dealerships can remind their customers it's time for an oil change and they can bring it in.
        - Jewelers can remind their customers that it is a good idea to clean their jewelry with you.

        ### Template

    .box
        :markdown-it(html=true)
            Subject: You're due for a [product/service] in [time remaining].

            Hey [name],

            It's almost been [time elapsed since last encounter] since your last [service to be renewed].

            I wanted to stop in a give you a friendly reminder to [action to take to get an appointment, renew something, etc.]

            [instructions on what they should do next.  call you, email, visit website.]

            Have a great day!

            Best,<br>
            [your name]<br>
            [your business]

    :markdown-it()
        ## Email 3: Discount on Specific Products or Services

        Ideally, you know what each person in your email list purchased.  If you do, you can offer similar products or service that you think they might be interested in.  The key is being specific!

        If you can offer discounts on relevant items they are interested in the your customer is going to be stoked!

        The best part is this doesn't even need to be a discount!  You can simply let them know you offer an additional service. A discount is just more enticing so you will see better results.

        The key with this kind of email is to be friendly, and offer your product or service as additional value.

        Think about this scenario. A customer just bought a subscription to your Yoga studio.  If you know their experience level, you can offer them relevant products.  For instance, a newbie probably needs a Yoga mat, but will have no idea which ones are the best.

        Guess what?  You happen to be an expert on Yoga mats and in fact, your business sells some of the best!  Let them know why they are the best and you can bet your customer is going to thank you not only verbally but with their wallet.  Cha-ching!

        ### Template

    .box
        :markdown-it(html=true)
            Subject: Thanks for being awesome! Here's a discount.

            Hey [name],

            We love having you as a customer!

            To show you our appreciation, here's a [discount amount] on [specific product/service they relevant to previous purchase].

            You can redeem this offer by [how to redeem offer].

            Enjoy your discount and have a great day!

            Cheers,<br>
            [your name]<br>
            [your business]

    p.info
        | If you want help getting set up or just want me to set up a plan that will double your revenue, email me at&nbsp;
        a(href='mailto:shane@shaneburkhart.com') shane@shaneburkhart.com
        | .

    :markdown-it()
        ## Email 4: Run Flash Sales

        Flash sales are simply sales you run for a short amount of time.  Some common examples are holiday sales, liquidation discounts, etc.

        Just like any emails you send, these need to be used in moderation.  You can send flash sale emails about once a month without overdoing it.

        This is a great way to boost sales for a month or drive customers to your business.  Usually these emails have a  short time limit to promote instant action action from the reader.

        ### Template

    .box
        :markdown-it(html=true)
            Subject: Valentine's Day Sale!

            Hey [name],

            Valentine's day is all about love and if there is one thing we love at [your business], it's our customers.

            Instead of getting all emotional on you, I want to give you a [discount] on [entire purchase/specific product or service].

            [How to redeem their offer.  visit website, call, email, etc.]

            This offer is only valid for the next 24 hours so don't waste any time!

            Have a happy Valentine's day!

            Sincerely,<br>
            [your name]<br>
            [your business]

    :markdown-it()
        ## Email 5: Informational Email

        Informational email is any email that provides value to your customer without asking for a direct sale.  You goal with this email isn't to make a sale.  Those can be sent later.

        Informational emails are used to build trust with your user and nurture them into purchasing. Here are some ideas for things you could send:

        - **How to use your product or service** - if your product or service is complicated, this is a perfect way for you to offer instruction for free.  Send an email or two about how your customer can get the most from their purchase.
        - **Industry news** - send recent news around your industry that customers are interested in.
        - **Educational content** - there is almost always something you can teach your customers.  You're an expert after all.  Send that information for free as long as it's relevant and interesting to them.
        - **Engagement emails** - ask customers specifically how you can help them more.  This is a great way to start a conversation, get new product ideas, and make sure your customers are satisfied.

        Even though these emails don't drive sales directly, they will build trust with your customers which ultimately increases each customer's likeliness to purchase.

        These emails also keep you out of the spam folder since you are providing value to your customer at no cost to them.

        ### Template

    .box
        :markdown-it(html=true)
            Subject: How to get more out of [their purchase]

            Hey [name],

            I noticed you recently purchased [their purchase].  I'm dropping in to help you get more out of your purchase.

            Here's how you can use [their purchase] for [specific use cases].  Click on the link most relevant to you:

            - [specific use #1]<br>
            - [specific use #2]<br>
            - [specific use #3]<br>

            As always, if you have any questions, you can reach out to me at any time!  [how to get in contact with you]

            I hope this helps!

            Cheers,<br>
            [your name]<br>
            [your business]

    :markdown-it()
        ## Need help getting set up?

        You're busy and I understand that.  You don't have time to mess around with email on your own. Luckily, I'm here to help :)

        I have helped various businesses send emails and will do the same for you!

        If you want help getting set up or just **want me to set up a plan that will double your revenue, email me at** [shane@shaneburkhart.com](mailto:shane@shaneburkhart.com).

        To get a response from me right now, your best bet is to message me on Facebook Messenger.  I know it sounds a little weird, but I've found it's the quickest and easiest way for me to help you.

        **Click the link below and send me a message saying "Show me the money!"**


    .content-upgrade
        a.button.block Send me "Show me the money!"

    p I will do just that!

    p
        | Cheers,
        br
        | Shane Burkhart
